<footer>
    <hr>

    <div class="footer-contents d-flex flex-column flex-md-row 
                align-items-center align-items-md-center 
                justify-content-between gap-3 text-center text-md-start">

        <p class="mb-0 text-muted">
            &copy; 2025 Lounge Seminar, All Rights Reserved
        </p>

        <div class="contact d-flex flex-column flex-sm-row 
                    align-items-center gap-2 gap-sm-3">
            <p class="mb-0">
                <a href="mailto:loungeseminar@gmail.com" class="contact-links" target="_blank">
                    <i class="bi bi-envelope-at-fill me-2"></i>
                    loungeseminar@gmail.com
                </a>
            </p>

            <p class="mb-0">
                <a href="https://www.google.com/maps/d/u/0/edit?mid=1keL0X3Fs7d4qcKfoTscWp-Xejn8qLvs&usp=sharing"
                   class="contact-links" target="_blank">
                    <i class="bi bi-geo-alt-fill me-1"></i>
                    SAMPS, NTUA
                </a>
            </p>
        </div>

        <div class="social-icons d-flex justify-content-center gap-3">
            <a href="https://www.instagram.com/loungeseminarsamps" class="icon-links">
                <i class="bi bi-instagram fs-4"></i>
            </a>
            <a href="https://www.facebook.com/groups/1621547648227578/" class="icon-links">
                <i class="bi bi-facebook fs-4"></i>
            </a>
            <a href="https://www.youtube.com/@LoungeSeminar" class="icon-links">
                <i class="bi bi-youtube fs-4"></i>
            </a>
            <a href="https://www.linkedin.com/company/lounge-seminar/" class="icon-links">
                <i class="bi bi-linkedin fs-4"></i>
            </a>
            <a href="https://helios.ntua.gr/enrol/index.php?id=5508" class="icon-links">
                <i class="bi bi-box-arrow-up-right fs-4"></i>
            </a>
        </div>

    </div>
</footer>
