<footer>
    <hr>

    <div class="footer-contents d-flex align-center justify-content-between">
        <p style="color: grey;">&copy; 2025 Lounge Seminar, All Rights Reserved</p>

        <div class="contact d-flex align-center gap-3">
            <p><a href="mailto:loungeseminar@gmail.com" class="contact-links" target="_blank" aria-label="Email us directly">
                    <i class="bi bi-envelope-at-fill me-2" aria-hidden="true"></i>loungeseminar@gmail.com
                </a>
            </p>
            
            <p class="mb-0">
                <a href="https://www.google.com/maps/d/u/0/edit?mid=1keL0X3Fs7d4qcKfoTscWp-Xejn8qLvs&usp=sharing" class="contact-links" target="_blank" aria-label="Open location in Google Maps">
                    <i class="bi bi-geo-alt-fill me-1" aria-hidden="true"></i>SAMPS, NTUA
                </a>
            </p>
        </div>

        <div>
            <a href="https://www.instagram.com/loungeseminarsamps" class="icon-links" aria-label="Instagram">
                <i class="bi bi-instagram fs-4 me-3" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/groups/1621547648227578/" class="icon-links" aria-label="Facebook">
                <i class="bi bi-facebook fs-4 me-3" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/@LoungeSeminar" class="icon-links" aria-label="YouTube">
                <i class="bi bi-youtube fs-4 me-3" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/lounge-seminar/" class="icon-links" aria-label="LinkedIn">
                <i class="bi bi-linkedin fs-4 me-3" aria-hidden="true"></i></a>
            <a href="https://helios.ntua.gr/enrol/index.php?id=5508" class="icon-links" aria-label="Helios for NTUA Students">
                <i class="bi bi-box-arrow-up-right fs-4" aria-hidden="true"></i></a>
        </div>

    </div>
</footer>