{% load static %}
<header>
<nav class="navbar navbar-expand-xl bg-primary navbar-dark">
  <div class="container">
    <a href="#" class="navbar-brand">
        <div class="d-flex align-items-center gap-3">
            <img src="{% static 'images/logolounge-circle.png' %}" width="70">
            <p id="logo">Lounge Seminar</p>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link active" aria-current="page" href="#">Bubbles</a>
        <a class="nav-item nav-link" href="#">Cosmo</a>
        <a class="nav-item nav-link" href="#">Dolores</a>
        <a class="nav-item nav-link" href="#">Fred</a>
        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Levi</a>
      </div>
    </div>
  </div>
</nav>
</header>