{% load static %}
<header class="fixed-top">
    <nav class="navbar navbar-expand-xl bg-primary navbar-dark">
        <div class="container">

            <!-- Logo -->
            <a href="{% url 'home:home' %}" class="navbar-brand">
                <div class="d-flex align-items-center gap-3">
                    <img src="{% static 'images/logolounge-circle.png' %}" width="70">
                    <p id="logo">Lounge Seminar E-Shop</p>
                </div>
            </a>

            <!-- Collapsible Navigation -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" 
                aria-controls="navbarText" aria-expanded="false" aria-label="Header navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <div class="navbar-nav ms-auto">
                    <a href="{% url 'home:home' %}" class="nav-item nav-link">Home</a>
                    <a href="#" class="nav-item nav-link">Account</a>
                    <a href="{% url 'loginreg:loginreg' %}" class="nav-item nav-link">Sign In | Register</a>
                </div>
            </div>
        </div>
    </nav>

    {% if show_secondary_header %}
        <section class="nav-section pb-2 border-bottom bg-white">
            <div class="container">
                <div class="row align-items-center g-2 flex-wrap">

                    <!-- Store button -->
                    <div class="col-12 col-sm-auto">
                        <a href="{% url 'products:products' %}" class="btn btn-outline-primary w-100 w-sm-auto">Store</a>
                    </div>

                    <!-- Search bar -->
                    <div class="col-12 col-sm">
                        <form action="#" class="search w-100">
                            <div class="input-group w-100">
                                <input type="text" class="form-control" placeholder="Search">
                                <button class="btn btn-primary" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                </div> <!-- row -->
            </div> <!-- container -->
        </section>
    {% endif %}

</header>