{% extends 'layout.html' %}

{% block title%}Home - Products{% endblock %}

{% block body %}
    <div class="banner">
        <img src="../../../static/images/banner.jpg" style="width:100%;">
    </div>

    <div class="container mt-4">

        <header class="section-heading d-flex align-center gap-2">
            <h1 class="section-title fs-3">Popular products</h1>
            <a href="#" class="btn btn-outline-primary float-right">See all</a>
        </header>

        <div class="row mt-4">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="../../../static/images/Apparel/Hoodies/H1Bfront.png" width="300"> </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Hoodie Design 1</a>
                        <div class="price mt-1">$25.00</div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="../../../static/images/Apparel/Shirts/S1Wfront.png" width="300"> </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Shirt Design 1</a>
                        <div class="price mt-1">$15.00</div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="../../../static\images\Accessories\Keychains\KC1.png" width="300"> </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Keychain Design 2</a>
                        <div class="price mt-1">$2.00</div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-product-grid">
                    <a href="#" class="img-wrap"> <img src="../../../static\images\Stationary\Stickers\Lounge Seminar Logo - Sticker 1.png" width="300"> </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Lounge Logo Sticker</a>
                        <div class="price mt-1">$1.00</div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
        
    </div><!-- container // -->
{% endblock %}