{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <meta name="author" content="Christina Petsa">
        <meta name="keywords" content="Lounge, Seminar, NTUA, HTML, CSS, Javascript, jQuery, Django, Python, Bootstrap, Eshop, Web, App">

        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <title>Home</title>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>