{% extends "layout.html" %}
{% load static %}

{% block title %}My Account{% endblock %}

{% block body %}
<div style="padding: 0 20%;" id="account-page">
    <h2 class="mb-4">My Account</h2>

    <div class="accordion" id="accountAccordion">
        {% for section in accordion_sections %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ section.id }}">
                    <button class="accordion-button
                        {% if open_section != section.id %}collapsed{% endif %}
                            text-primary fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#{{ section.id }}" 
                            aria-expanded="
                                {% if open_section == section.id %}true
                                {% else %}false
                                {% endif %}"
                            aria-controls="{{ section.id }}">
                        {{ section.heading }}
                    </button>
                </h2>

                <div id="{{ section.id }}"
                    class="accordion-collapse collapse
                    {% if open_section == section.id %}show{% endif %}"
                        data-bs-parent="#accountAccordion">
                        <div class="accordion-body">
                            {% if section.id == "accountDetails" %}
                                <form method="POST">
                                    {% csrf_token %}
                                    {% for name, value in information %}
                                        <div class="mb-3">
                                            <label for="{{ name }}" class="form-label">{{ name|capfirst }}</label>
                                            <input type="text" class="form-control" id="{{ name }}" name="{{ name }}" value="{{ value }}" required>
                                        </div>
                                    {% endfor %}
                                    <button type="submit" name="{{ section.button_name }}" class="btn btn-primary">
                                        Update Account
                                    </button>
                                </form>

                            {% elif section.id == "changePassword" %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">New Password</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Verify Password</label>
                                        <input type="password" class="form-control" name="passwordCheck">
                                    </div>

                                    <button type="submit"
                                            name="{{ section.button_name }}"
                                            class="btn btn-primary">
                                        Update Password
                                    </button>
                                </form>
                            {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
