{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <meta name="author" content="Christina Petsa">
        <meta name="keywords" content="Lounge, Seminar, NTUA, HTML, CSS, Javascript, jQuery, Django, Python, Bootstrap, Eshop, Web, App">

        <!-- My extra files -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
            <!-- <script src="{% static 'js/script.js' %}" type="text/Javascript" defer></script> -->
        
        <!-- Essentials -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Title -->
            <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
       

        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
        {% if messages %}
            {% for message in messages %}
                {% if "regsuccess" in message.tags %}
                <script>
                    confetti({
                        particleCount: 200,
                        spread: 200,
                        origin: { y: 0.6 }
                    });
                </script>
                {% endif %}
            {% endfor %}
        {% endif %} 
        
        {% include "important/header.html" %}

        <main class="flex-grow-1">
            {% block body %}
            {% endblock %}
        </main>
        
        {% include "important/footer.html" %}
    </body>
</html>