/* -------------------- General -------------------- */
@font-face {
    font-family: 'Logo-Font';
    src: url("PermanentMarker-Regular.woff2") format("woff2");
    font-display: swap;
}

:root {
    font-size: clamp(16x, 1vh, 30px);
}

a {
    text-decoration: none !important;
}

/*------------ Header -------------*/
#logo {
    font-family: 'Logo-Font', Arial, Helvetica, sans-serif;
    font-size: clamp(20px, 3vh, 25px);
    margin-top: 15px;
}

#logo-image {
    width: clamp(50px, 9vh, 70px);
    height: auto;
}

.nav-section {
    margin-top: 10px;
}

.banner {
    width: 100%;
}

@media (max-width: 576px) {
    main {
        margin-top: 10vh !important;
    }
}

@media (max-width: 768px) {
    #logo {
        display: none;
    }
}

/*------------ Other pages -------------*/
#loginreg {
    margin-top: 160px;
    margin-bottom: 50px;
}

.small-thumb {
    width: 70px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s ease-in-out;
}

.small-thumb:hover {
    border-color: #0d6efd;
}

.product-figure {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-figure:hover {
    transform: scale(1.07);
}

#store-page, #cart-page, #account-page, #prod-det-page {
    margin-top: 180px;
}

@media (max-width: 768px) {
    #store-page, #cart-page, #account-page, #prod-det-page {
        margin-top: 280px;
    }
}

@media (max-width: 576px) {
    #store-page, #cart-page, #account-page, #prod-det-page {
        margin-top: 320px;
    }
}

/*------------ Footer -------------*/
.footer-contents {
    padding: 1% 10%;
}