/* -------------------- General -------------------- */
@font-face {
    font-family: 'Logo-Font';
    src: url("PermanentMarker-Regular.woff2") format("woff2");
    font-display: swap;
}

:root {
    font-size: clamp(20px, 1vh, 30px);
}

a {
    text-decoration: none !important;
}

/*------------ Header -------------*/
#logo {
    font-family: 'Logo-Font', Arial, Helvetica, sans-serif;
    font-size: clamp(25px, 5vh, 30px);
    margin-top: 15px;
}

.nav-section {
    margin-top: 10px;
}

.banner {
    width: 100%;
}

@media (max-width: 576px) {
    main {
        margin-top: 300px !important;
    }
}

@media (max-width: 768px) {
    #logo {
        display: none;
    }
}

#loginreg {
    margin-top: 160px;
    margin-bottom: 50px;
}

.small-thumb {
    width: 70px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s ease-in-out;
}

.small-thumb:hover {
    border-color: #0d6efd;
}

/*------------ Footer -------------*/
.footer-contents {
    padding: 1% 10%;
}